{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-primary"> ADMIN : {{ employeNom }}</h1>

    
    <div class="mt-4 mb-4">
        <a href="{{ path('app_ajoutformation') }}" class="btn btn-primary">Ajouter une formation</a>
        <a href="{{ path('app_afficher_inscriptionParStatut') }}" class="btn btn-primary">Voir les inscriptions</a>
    </div>
    
    <h2 class="text-secondary">Voici la liste des formations :</h2>
    
    {% if message %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}

    <div class="row">
        {% for formation in lesFormations %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <p><strong>Produit :</strong> {{ formation.produit.libelle }}</p>
                        <p><strong>Date de début :</strong> {{ formation.dateDebut|date("d/m/Y") }}</p>
                        <p><strong>Nombre d'heures :</strong> {{ formation.nbreHeures }}</p>
                        <p><strong>Département :</strong> {{ formation.departement }}</p>
                        <p><strong>Nombre d'inscriptions :</strong> {{ formation.nbInscription }} / {{ formation.inscriptionMax }}</p>
                        <a href="{{ path('app_formation_sup', {'id' : formation.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div> 
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
